.login-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
}



.register-link {
    text-align: center;
    margin-right: 0;
    color:#d1a504;
    text-decoration: none;
}
.hide {
    display: none;
}
.login-element {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 40px;
    color: #2e5250;
}
